.container{
    width: 1336px;
    margin: 0 auto;
    text-align: center;
    
}   

.container-box{
    display: flex;
    justify-content: space-between;
    text-align: left;
}   

.container-box2{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.footer{
background-color: #53535354;
width: 100%;
padding: 108px 148px 129px 164px;

}

.footer2{
    width: 1128px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    }

 .footer-box1{
    width: 318px;
 }   